<nav aria-label="Main navigation">
  <ul>
    <li{% if page.url == "/" or page.url == "/index.html" %} class="active"{% endif %}>
      <a href="{{ "/" | relative_url }}">Home</a>
    </li>
    <li{% if page.url == "/about.markdown" or page.url == "/about.html" or page.url == "/about/" %} class="active"{% endif %}>
      <a href="{{ "/about.html" | relative_url }}">About</a>
    </li>
    <li{% if page.url == "/training.html" %} class="active"{% endif %}>
      <a href="{{ "/training.html" | relative_url }}">Training</a>
    </li>
    <li{% if page.url == "/databases.html" %} class="active"{% endif %}>
      <a href="{{ "/databases.html" | relative_url }}">Databases</a>
    </li>
    <li{% if page.url == "/platforms.html" %} class="active"{% endif %}>
      <a href="{{ "/platforms.html" | relative_url }}">Platforms</a>
    </li>
    <li{% if page.url == "/software.html" %} class="active"{% endif %}>
      <a href="{{ "/software.html" | relative_url }}">Software</a>
    </li>
    <li{% if page.url == "/events.html" %} class="active"{% endif %}>
      <a href="{{ "/events.html" | relative_url }}">Events</a>
    </li>
    <li{% if page.url == "/news.html" %} class="active"{% endif %}>
      <a href="{{ "/news.html" | relative_url }}">News</a>
    </li>
    <li{% if page.url == "/elix_ire_funded.html" %} class="active"{% endif %}>
      <a href="{{ "/elix_ire_funded.html" | relative_url }}">Funded Projects</a>
    </li>
  </ul>
  <a href="#main-content" class="skip-link">Skip to content</a>
</nav>